@import "portfolYOU";
html, body {
    height: 100%;
  }
  /*
  * -> applies to all tags

  */

  *{
    /* color: orange; */
    /* background-color: lightgreen; */
  }
  */
  body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 0;
    margin: 0;
   
  }

  #amy{
    float: left; 
    margin-right: 50px;
  }

  
  #canvas {
    width: 100%;
    height: 100%;
  }

  section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
  }

  .hidden {
    opacity: 0;
    transition: all 1s;
  }

  .show {
    opacity: 1;
  }

p{
  font-size: 25px;
}