@import "portfolYOU";
html, body {
    height: 100%;
  }
  /*
  * -> applies to all tags

  */

  *{
    /* color: orange; */
    /* background-color: lightgreen; */
  }
  */
  body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 0;
    margin: 0;
   
  }

  #amy{
    float: left; 
    margin-right: 50px;
  }

  
  #canvas {
    width: 100%;
    height: 100%;
  }

  section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
  }

  .hidden {
    opacity: 0;
    transition: all 1s;
  }

  .show {
    opacity: 1;
  }

p{
  font-size: 25px;
}
.project-content {
  background-color: white; /* Background color for the project tile content */
  padding: 20px; /* Adjust padding as needed */
  text-align: center; /* Center-align the content */
  /* border: 1px solid #ccc;  Add borders or styling as desired */
}

.project-content img {
  max-width: 100%; /* Ensure the image fits within its container */
  border-radius: 20px;

}
